In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("500_Cities__Local_Data_for_Better_Health__2019_release.csv")

In [4]:
df.head()
len(df)

810103

In [5]:
# make my filters
df_small = df[(df['Year'] == 2017) & # select year
              (df['MeasureId'] == "OBESITY") & # select disease
              (df['Measure'] == "Obesity among adults aged >=18 Years")  & # 
              (df['GeographicLevel'] == "City") & # we want at city level
              (df['DataValueTypeID'] == "AgeAdjPrv")  # age adjusted level
             ]

In [6]:
# select columns
df_small[['CityName', 'Data_Value','PopulationCount', 'GeoLocation', 'CityFIPS']].to_csv('obesity.csv')

In [7]:
df_small[['CityName', 'Data_Value','PopulationCount', 'GeoLocation', 'CityFIPS']].head()

,CityName,Data_Value,PopulationCount,GeoLocation,CityFIPS
102,Roswell,23.7,"88,346","(34.0391384583, -84.3512225277)",1367284.0
3020,Columbus,38.2,"189,885","(32.5099614852, -84.8770410586)",1319000.0
4442,Boise City,27.9,"205,671","(43.5984343897, -116.230885189)",1608830.0
5766,Savannah,37.8,"136,286","(32.0283615157, -81.1783435493)",1369000.0
5792,Warner Robins,38.6,"66,588","(32.5985113609, -83.6530271267)",1380508.0