In [240]:
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dfs = pd.read_html(url)[0]
print (len(dfs))
dfs.head(10)

288

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Not assigned
9      M8A      Not assigned      Not assigned

In [241]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
dfs = dfs.loc[dfs.Borough != 'Not assigned']
print (len(dfs))
dfs.head()

211

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [242]:
# More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page,
# you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. 
# These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
df['text'] = df[['name','month','text']].groupby(['name','month'])['text'].transform(lambda x: ','.join(x))
dfs['Neighbourhood'] = dfs[['Postcode', 'Neighbourhood']].groupby(['Postcode']).transform(lambda x: ','.join(x))
dfs.drop_duplicates(inplace=True)
dfs.head(10)

   Postcode           Borough                    Neighbourhood
2       M3A        North York                        Parkwoods
3       M4A        North York                 Victoria Village
4       M5A  Downtown Toronto         Harbourfront,Regent Park
6       M6A        North York  Lawrence Heights,Lawrence Manor
8       M7A      Queen's Park                     Not assigned
10      M9A         Etobicoke                 Islington Avenue
11      M1B       Scarborough                    Rouge,Malvern
14      M3B        North York                  Don Mills North
15      M4B         East York   Woodbine Gardens,Parkview Hill
17      M5B  Downtown Toronto          Ryerson,Garden District

In [243]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
# So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.
not_assigned =  dfs[dfs['Neighbourhood']=='Not assigned']
print (len(not_assigned))
dfs.loc[dfs['Neighbourhood'] == 'Not assigned', ['Neighbourhood']] = dfs['Borough']
not_assigned01 = dfs[dfs['Neighbourhood']=='Not assigned']
print (len(not_assigned01))
dfs.head(5)

1
0

  Postcode           Borough                    Neighbourhood
2      M3A        North York                        Parkwoods
3      M4A        North York                 Victoria Village
4      M5A  Downtown Toronto         Harbourfront,Regent Park
6      M6A        North York  Lawrence Heights,Lawrence Manor
8      M7A      Queen's Park                     Queen's Park

In [244]:
dfs.shape

(103, 3)